<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- TheZombieNews -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1277620865425676"
     data-ad-slot="4991981677"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
      </div>	  
    </div>
	
    {% include footer.html %}

  </body>

</html>
